@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#jumbotron {
  display: flex;
  justify-content: center;
  background: transparent !important;
}

#left {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 40em;
}

#right {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.potter-font {
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 4s;
  animation-delay: 0.8s;
  margin-bottom: 1em;
}

h1 {
  font-family: "Oswald", Helvetica Neue;
  font-variant: small-caps;
  text-align: center;
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 7s;
  animation-delay: 1s;
  margin-top: 0.8em;
}

#blockquote {
  display: block;
  font-size: 18px;
  width: 30em;
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 7s;
  animation-delay: 2s;
  margin-bottom: 5.8em;
  margin-left: 4em;
  margin-top: 1.2em;
}

b {
  font-size: 1.1em;
}

#btn {
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 3s;
  /* DEMO ONLY */
  /* animation-delay: 25s; */
  animation-delay: 4s;
  width: 5em;
  margin-left: 18em;
  margin-top: -4em;
}

.potter-drawing {
  margin-bottom: 1em;
}

.title-img-container {
  display: flex;
  flex-flow: wrap;
}

#form-container {
  width: 60em;
  height: 10em;
}

#input-form {
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 1s;
  animation-delay: 0.3s;
  width: 40em;
  margin-top: -15em;
  margin-left: -7em;
  margin-bottom: 1em;
}

.students-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap-reverse;
  justify-content: center;
  background-color: #eeeeee;
  padding: 2em;
  margin: 2em;
  margin-left: 0em;
  margin-top: -0.4em;
}

.student-card {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

#card-header {
  font-family: "Yeseva One", cursive;
  font-size: 2em;
  background-color: rgb(230, 228, 228);
  border-bottom: 1px solid grey;
}

.card-body {
  background-color: rgb(241, 241, 241);
}

.card-title {
  font-size: 1.2em;
  height: 2em;
  margin-top: 0.5em;
}

#crest-img {
  height: 18em;
}

/* START EXPELLED STUDENT */

.expelled-students-container {
  background-image: url(https://pa1.narvii.com/7733/023508bb8415161feb393a8ec19dad0774a1fe74r1-600-255_hq.gif);
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding: 2em;
  margin: 2em;
  margin-left: 0em;
  margin-top: -0.4em;
}

#expelled-card {
  box-shadow: 0 3px 3px rgba(148, 148, 148, 0.4);
  background-color: black;
}

#expelled-card-header {
  font-family: "Yeseva One", cursive;
  font-size: 2.3em;
  background-color: black;
  color: green;
  margin-top: 0.5em;
}

.expelled-card-title {
  background-color: black;
  font-size: 2em;
  height: 1em;
  margin-top: 0.5em;
}

.expelled-card-body {
  background-color: black;
}

.expelled-crest-img {
  margin-top: 2em;
  height: 18em;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 2px;
}

/* START MEDIA QUERY */

@media only screen and (max-width: 780px) {
  main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  #jumbotron {
    display: flex;
    flex-wrap: wrap;
    background: transparent !important;
  }

  .potter-font {
    width: 28em;
  }

  h1 {
    font-family: "Oswald", Helvetica Neue;
    font-variant: small-caps;
  }

  #blockquote {
    font-size: 15px;
    width: 25em;
    text-align: center;
  }

  b {
    font-size: 1.2em;
  }

  #btn {
    text-align: center;
    width: 5em;
  }

  .potter-drawing {
    display: none;
  }

  #form-container {
    display: flex;
    background-color: whitesmoke;
    width: 28em;
    height: 10em;
    margin-top: -3em;
  }

  #input-form {
    height: 8em;
    width: 25em;
    margin-left: 0.2em;
    margin: 1em;
  }

  #sort {
    width: 5em;
    height: 2em;
  }

  .students-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background-color: #fafafa;
    margin: 2em;
    padding: 2em;
  }

  #card-header {
    font-family: "Yeseva One", cursive;
    font-size: 2em;
  }

  .card-title {
    font-size: 1.2em;
    height: 1em;
    margin-top: 0.5em;
  }

  #crest-img {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 18em;
    margin-top: 1em;
  }

  /* //EXPELLED */

  #expelled {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background-color: #fafafa;
    margin: 2em;
    padding: 2em;
  }

  .expelled-students-container {
    background-image: url(https://pa1.narvii.com/7733/023508bb8415161feb393a8ec19dad0774a1fe74r1-600-255_hq.gif);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    padding: 2em;
    margin: 2em;
    margin-left: 0em;
    margin-top: -0.4em;
  }

  #expelled-card {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    background-color: black;
  }

  #expelled-card-header {
    font-family: "Yeseva One", cursive;
    font-size: 2em;
    background-color: black;
    color: lightgrey;
    margin-top: 0.5em;
  }

  .expelled-card-title {
    background-color: black;
    font-size: 2em;
    height: 1em;
    margin-top: 0.5em;
    color: green;
  }

  .expelled-card-body {
    background-color: black;
  }

  .expelled-crest-img {
    margin-top: 3em;
    height: 18em;
    padding: 1em;
  }
}
