html {
  scroll-behavior: smooth;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.potter-font {
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 6s;
  animation-delay: .2s;
}

h1 {
  font-family: "Oswald", Helvetica Neue;
  font-variant: small-caps;
  text-align: center;
}

.title-img-container {
  display: flex;
  flex-flow: wrap;
}


#students {
  background-color: #f1f1f1;
  margin: 2em;
  padding: 2em;
  margin-left: -12em;
  padding-left: 8em;
}

.student-card {
  box-shadow: 2px 2px rgb(236, 236, 236);
}
 
#input-form {
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 1s;
  animation-delay: .3s;
};



#card-header {
  font-family: 'Yeseva One', cursive;
}


#crest-img {
  height: 18em;
}
