@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#jumbotron {
  display: flex;
  justify-content: center;
  background: transparent !important;
}

#left {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 40em;
}

#right {
  display: flex;
  justify-content: center;
}

.potter-font {
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 4s;
  animation-delay: 0.8s;
}

#h1 {
  font-family: "Oswald", Helvetica Neue;
  font-variant: small-caps;
  text-align: center;
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 7s;
  animation-delay: 1s;
  margin-top: .8em;
}

#blockquote {
  font-size: 18px;
  width: 30em;
  margin-top: 2em;
  margin-bottom: 2em;
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 8s;
  animation-delay: 2s;
  margin-bottom: 6em;
  margin-left: 4em;
}

b {
  font-size: 1.2em;
}

#btn {
  width: 5em;
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 3s;
  animation-delay: 6s;
  margin-left: 18em;
  margin-top: -3em;

}

.potter-drawing {
  margin-bottom: 1em;
}

.title-img-container {
  display: flex;
  flex-flow: wrap;
}

#form-container {
  width: 60em;
  height: 10em;
}

.students-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  background-color: #fafafa;
  margin: 2em;
  padding: 2em;
  margin-left: 0em;
  padding-left: 0em;
}

.student-card-container{
  box-shadow: 2px 2px rgb(236, 236, 236);
  animation-name: fadein;
  animation-fill-mode: both;
  animation-duration: .6s;
  animation-delay: .3s;
}

#input-form {
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 1s;
  animation-delay: 0.3s;
  width: 40em; 
  margin-top: -15em; 
  margin-left: -7em; 
  margin-bottom: 1em
}

#card-header {
  font-family: "Yeseva One", cursive;
  font-size: 2em; 
  background-color: whitesmoke;
}

.card-title {
  height: 1em;
  font-size: 1.2em;
  margin-top: .5em;
}

#crest-img {
  height: 18em;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-top: 1em;
}


/* MEDIA QUERY */
