@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#jumbotron {
  display: flex;
  justify-content: center;
  background: transparent !important;
}

#left {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 40em;
}

#right {
  display: flex;
  justify-content: center;
}

.potter-font {
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 4s;
  animation-delay: 0.8s;
}

#h1 {
  font-family: "Oswald", Helvetica Neue;
  font-variant: small-caps;
  text-align: center;
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 7s;
  animation-delay: 1s;
}

#blockquote {
  font-size: 18px;
  width: 30em;
  margin-top: 2em;
  margin-bottom: 2em;
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 8s;
  animation-delay: 2s;
  margin-bottom: 6em;
  margin-left: 4em;
}

#btn {
  width: 5em;
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 3s;
  animation-delay: 7s;
  margin-left: 18em;
  margin-top: -2em;
}

.potter-drawing {
  margin-bottom: 1em;
}

.title-img-container {
  display: flex;
  flex-flow: wrap;
}

#form {
  width: 60em;
  height: 2em;
  background-color: blue;


}

#students {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  background-color: #f8f8f8;
  margin: 2em;
  padding: 2em;
  margin-left: -12em;
  padding-left: 8em;
}

.student-card {
  box-shadow: 2px 2px rgb(236, 236, 236);
}

#input-form {
  animation-name: fadein;
  animation-fill-mode: backwards;
  animation-duration: 1s;
  animation-delay: 0.3s;
  width: 40em; 
  margin-top: -9em; 
  margin-left: -5em; 
  margin-bottom: 1em
}

#card-header {
  font-family: "Yeseva One", cursive;
}

#crest-img {
  height: 18em;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

@media screen and (max-width: 600px) {
  #main {
    max-width: 100%;
    height: auto;
  }

  #top {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
  }

  .jumbotron {
    max-width: 100%;
    height: auto;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .potter-font {
    animation-name: fadein;
    animation-fill-mode: backwards;
    animation-duration: 4s;
    animation-delay: 0.8s;
    max-width: 100%;
    height: auto;
  }

  h1 {
    font-family: "Oswald", Helvetica Neue;
    font-variant: small-caps;
    text-align: center;
    animation-name: fadein;
    animation-fill-mode: backwards;
    animation-duration: 7s;
    animation-delay: 1s;
    max-width: 100%;
    height: auto;
  }

  blockquote {
    animation-name: fadein;
    animation-fill-mode: backwards;
    animation-duration: 8s;
    animation-delay: 2s;
    margin-bottom: 6em;
    max-width: 100%;
    height: auto;
  }

  #btn {
    animation-name: fadein;
    animation-fill-mode: backwards;
    animation-duration: 3s;
    animation-delay: 10s;
    max-width: 100%;
    height: auto;
  }

  #potter-drawing {
    max-width: 100%;

    height: auto;
  }

  #form {
    max-width: 30%;
    height: auto;
  }

  #input-form {
    animation-name: fadein;
    animation-fill-mode: backwards;
    animation-duration: 1s;
    animation-delay: 0.3s;
    max-width: 30%;
    height: auto;
  }

  .title-img-container {
    display: flex;
    flex-flow: wrap;
    max-width: 30%;
    height: auto;
  }

  #students {
    background-color: #f8f8f8;
    margin: 2em;
    padding: 2em;
    margin-left: -12em;
    padding-left: 8em;
    max-width: 30%;
    height: auto;
  }

  .student-card {
    box-shadow: 2px 2px rgb(236, 236, 236);
  }

  #card-header {
    font-family: "Yeseva One", cursive;
  }

  #card-title {
    max-width: 30%;
    height: auto;
  }

  #crest-img {
    height: 18em;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    max-width: 30%;
    height: auto;
  }

  .expel-btn {
    max-width: 30%;
    height: auto;
  }
}
